pwa/definition.json
{"name":"59098ce2-492e-4897-a6e9-f5bcde2a8a21","id":"/providers/Microsoft.Flow/flows/59098ce2-492e-4897-a6e9-f5bcde2a8a21","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxo Automatizado envio dados IR - Completa","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f1d08bd3-66c8-44e8-ab26-a123dab9f0ad","type":"User","tenantId":"57b8c96e-ac2f-4d78-a149-f1fc6817d3c4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-12-18T18:08:35.7828383Z","connectionKeySavedTimeKey":"2025-12-18T18:08:35.7828383Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Quando_um_arquivo_é_modificado":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"metadata":{"b!h5O6g5Jck02j-iddZpnx8dy45zOx5I1Bhv0-Lr1YzDBmQvq6gz01RLKZJqwhmXN4.012A6NRUIASF5QTTW7VJELUKNHRF4YGRYT":"/Documents/Aplicação Exportação Dados IR/json"},"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"b!h5O6g5Jck02j-iddZpnx8dy45zOx5I1Bhv0-Lr1YzDBmQvq6gz01RLKZJqwhmXN4.012A6NRUIASF5QTTW7VJELUKNHRF4YGRYT"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"OnUpdatedFileV2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obter_conteúdo_de_arquivo":{"runAfter":{},"metadata":{"b!h5O6g5Jck02j-iddZpnx8dy45zOx5I1Bhv0-Lr1YzDBmQvq6gz01RLKZJqwhmXN4.012A6NRUJCXBH2Y43IZJEZ62L66N3XCZCM":"/Documents/Aplicação Exportação Dados IR/json/Mensagem_Dados_IR.json"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"b!h5O6g5Jck02j-iddZpnx8dy45zOx5I1Bhv0-Lr1YzDBmQvq6gz01RLKZJqwhmXN4.012A6NRUJCXBH2Y43IZJEZ62L66N3XCZCM","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Compor":{"runAfter":{"Obter_conteúdo_de_arquivo":["Succeeded"]},"type":"Compose","inputs":"@body('Obter_conteúdo_de_arquivo')"},"Postar_cartão_em_um_chat_ou_canal":{"runAfter":{"Compor":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:meeting_ZWI4ZjYzMmItNWU2OC00NDc4LWFiYTktMzZhM2UzNWNiOGJm@thread.v2","body/messageBody":"@outputs('Compor')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-0ee1c4e6-1b73-42d5-99d7-a1f254371b6f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-82197df2-c93c-4ccd-bc8d-37e509afa23a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}